@model Footballize.Web.ViewModels.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="features-1">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title text-center">It's never been so easy</h2>
                        <h5 class="description">
                            Looking for friendly people to play football with? It has never been so easy.
                            Become a part of an event witch is already created or organize your own with just a few clicks.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary text-center">
                                <i class="material-icons">donut_large</i>
                            </div>
                            <h4 class="info-title text-center">Simplicity</h4>
                            <p>Being part of our society is easy. All you need is registration in our system and you are ready</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary text-center">
                                <i class="material-icons">group</i>
                            </div>
                            <h4 class="info-title text-center">Gathering System</h4>
                            <p>Quickly and easily find trusted players with whom you can fill in the missing places or join an event to have fun and find new friends.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary text-center">
                                <i class="material-icons">group_add</i>
                            </div>
                            <h4 class="info-title text-center">Recruiting System</h4>
                            <p>Looking for someone to play football with? Need a few more players to get started? In our recruiting system, you can quickly and easily find what you are looking for.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h3 class="text-center font-italic">Gathers that will start soon</h3>
            @if (Model.Gathers.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Starting Time</th>
                            <th scope="col">City</th>
                            <th scope="col">Players</th>
                            <th scope="col">Creator</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var gather in @Model.Gathers)
                        {
                            <tr>
                                <th scope="row">
                                    @if (gather.StartingAt.Day == DateTime.Today.Day)
                                    {
                                        <span class="align-middle"> @string.Concat("Today, at ", gather.StartingAt.ToString("HH:mm"))</span>
                                    }
                                    else if (gather.StartingAt.Day == DateTime.Today.AddDays(1).Day)
                                    {
                                        <span class="align-middle"> @string.Concat("Tomorrow, at ", gather.StartingAt.ToString("HH:mm"))</span>
                                    }
                                    else
                                    {

                                        <span class="align-middle">@gather.StartingAt.ToString("dd/MM/yyyy HH:ss")</span>
                                    }
                                </th>
                                <td>@gather.TownName</td>
                                <td>@gather.PlayersEnrolledCount/@gather.PlayerSpotsCount</td>
                                <td><a asp-controller="Users" asp-action="Details" asp-route-id="@gather.CreatorId">@gather.CreatorUserName</a></td>
                                <td>
                                    <a asp-controller="Gathers" asp-action="Details" asp-route-id="@gather.Id" class="btn btn-primary btn-fab btn-round">
                                        <i class="material-icons">add</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4 class=" text-center font-italic">Unfortunately there are no games that start soon</h4>
            }
        </div>
        <div class="col-sm-12 col-md-6">
            <h3 class=" text-center font-italic">Games looking for players</h3>
            @if (!Model.Recruitments.Any())
            {
                <h4 class=" text-center font-italic">Unfortunately there are no games that start soon</h4>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Starting Time</th>
                            <th scope="col">City</th>
                            <th scope="col">Players</th>
                            <th scope="col">Creator</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var recruitment in @Model.Recruitments)
                        {
                            <tr>
                                <th scope="row">
                                    @if (recruitment.StartingAt.Day == DateTime.Today.Day)
                                    {
                                        <span class="align-middle"> @string.Concat("Today, at ", recruitment.StartingAt.ToString("HH:mm"))</span>
                                    }
                                    else if (recruitment.StartingAt.Day == DateTime.Today.AddDays(1).Day)
                                    {
                                        <span class="align-middle"> @string.Concat("Tomorrow, at ", recruitment.StartingAt.ToString("HH:mm"))</span>
                                    }
                                    else
                                    {

                                        <span class="align-middle">@recruitment.StartingAt.ToString("dd/MM/yyyy HH:ss")</span>
                                    }
                                </th>
                                <td>@recruitment.TownName</td>
                                <td>@recruitment.PlayersEnrolledCount/@recruitment.PlayerSpotsCount</td>
                                <td><a asp-controller="Users" asp-action="Details" asp-route-id="@recruitment.CreatorId">@recruitment.CreatorUserName</a></td>
                                <td>
                                    <a asp-controller="Recruitments" asp-action="Details" asp-route-id="@recruitment.Id" class="btn btn-primary btn-fab btn-round">
                                        <i class="material-icons">add</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <p class="h3 text-center"> Top Fields chosen by our players</p>
            <div class="row">
               @foreach (var pitch in Model.Pitches)
               {
                   <div class="col-auto ">
                       <div class="card" style="width: 20rem;">
                           <img class="card-img-top" src="./img/fields/@(pitch.Id).jpg" alt="Card image cap">
                           <div class="card-body">
                               <p class="card-title"><i class="material-icons">bookmark</i> @pitch.Name</p>
                               <p class="card-subtitle"><i class="material-icons">location_on</i> @pitch.Location</p>
                               <p class="card-text">
                                   <i class="material-icons">timeline</i> Our members has choose @pitch.Name @pitch.TimesUsed times so far.

                               </p>
                           </div>
                       </div>

                   </div>
               }
            </div>
        </div>
    </div>
</div>
