@model Footballize.Web.ViewModels.Provinces.ProvinceDetailsViewModel;
@{
    ViewData["Title"] = "Details";
}

<div id="breadcrumb">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Countries" asp-action="Details" asp-route-id="@Model.CountryId">Country</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Province Details</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="offset-4 col-md-8">
        <h2 class="title">Towns in province @Model.Name</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-1 text-center">
        <img id="country-image" src="/img/flags/@(Model.CountryName.ToLower()).png" width="48px" />

    </div>
    <div class="col-md-10">
        <h2>@Model.Name, @Model.CountryName</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <a asp-controller="Towns" asp-action="Add" asp-route-countryId="@Model.CountryId" asp-route-provinceId="@Model.Id">
                <button class="btn btn-primary btn-round">
                    <i class="material-icons">add</i> New Town
                    <div class="ripple-container"></div>
                </button>
            </a>
        </div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Towns.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model.Towns.ToList()[i].Name</td>
                        <td>
                            <a asp-controller="Towns" asp-action="Edit" asp-route-id="@Model.Towns.ToList()[i].Id" class="btn btn-info btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Modify">
                                <i class="material-icons">edit</i>
                                <div class="ripple-container"></div>
                            </a>
                            <a class="btn btn-danger btn-fab btn-round" asp-controller="Towns" asp-action="Delete" asp-route-id="@Model.Towns.ToList()[i].Id" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="material-icons">delete</i>
                                <div class="ripple-container"></div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>We have @Model.Towns.Count records in total.</p>
    </div>
</div>