@using Footballize.Common
@using Footballize.Models.Enums
@model Footballize.Web.ViewModels.Gathers.GatherDetailsViewModel
@{
    ViewData["Title"] = "Gather Details";
}

<div id="breadcrumb">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Gathers" asp-action="Index">Gathers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Match Details</li>
        </ol>
    </nav>
</div>

@*<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">@Model.Name</h4>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <p class="h5 font-italic description">Description</p>
                    <span class="h3">@Model.Description</span>
                </div>
                <div>
                    <p class="h5 font-italic">When?</p>
                    <span class="h3">@Model.StartingAt.ToString("dddd, dd.MM.yyy, HH:mm")</span>
                </div>
                <hr />
                <div>
                    <p class="h5 font-italic">Where?</p>
                    <span class="h3">@Model.Pitch.Name</span>
                </div>
                <hr />
                <div>
                    <p class="h5 font-italic">Arena Address</p>
                    <span class="h3">@Model.Pitch.AddressStreet, @Model.Pitch.AddressNumber, @Model.Pitch.TownName, @Model.Pitch.CountryName</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">Map</h4>
                </div>
            </div>
            <div class="card-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">@Model.Name</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class=" col-6">
                        <div>
                            <p class="h5 font-italic description">Description</p>
                            <span class="h4">@Model.Description</span>
                        </div>
                        <hr />
                        <div>
                            <p class="h5 font-italic description">Teams Format</p>
                            <span class="h4">@(EnumHelper<TeamFormat>.GetDisplayValue(@Model.TeamFormat)) </span>
                        </div>
                        <hr />
                        <div>
                            <p class="h5 font-italic">When?</p>
                            <span class="h4">@Model.StartingAt.ToString("dddd, dd.MM.yyy, HH:mm")</span>
                        </div>
                        <hr />
                        <div>
                            <p class="h5 font-italic">Where?</p>
                            <span class="h4">@Model.Pitch.Name</span>
                        </div>
                        <hr />
                        <div>
                            <p class="h5 font-italic">Arena Address</p>
                            <span class="h4">@Model.Pitch.AddressStreet, @Model.Pitch.AddressNumber, @Model.Pitch.TownName, @Model.Pitch.CountryName</span>
                        </div>
                    </div>
                    <div class=" col-6">
                            <div id="map"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2 offset-5">
        @if (true)
        {
            <button class="btn btn-danger btn-round">
                <i class="material-icons">clear</i> Leave Gather
            </button>
            
        }
        else
        {
            <button class="btn btn-primary btn-round">
                <i class="material-icons">add</i> Enroll Gather
            </button>
        }
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in @Model.Players)
                    {
                        <tr>
                            <td>@player.User.FirstName</td>
                            <td>@player.User.LastName</td>
                            <td>@player.User.Email</td>
                            <td><button class="btn btn-danger btn-fab btn-fab-mini btn-round">
                                <i class="material-icons">clear</i>
                            </button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        function initMap() {
            var location =
            {
                //TODO: Add Pitch cordinates
                lat: -25.344,
                lng: 131.036
            };

            var map = new google.maps.Map(
                document.getElementById('map'),
                {
                    zoom: 14,
                    center: location
                });

            var marker = new google.maps.Marker(
                {
                    position: location,
                    map: map
                });
        }
    </script>
}
