@model ICollection<Footballize.Web.ViewModels.Gathers.GatherIndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<div id="breadcrumb">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gather Matches</li>
        </ol>
    </nav>
</div>
<div class="text-right">
    <a asp-action="Create">
        <button class="btn btn-primary btn-round">
            <i class="material-icons">add</i> Create new Gather
            <div class="ripple-container"></div>
        </button>
    </a>
</div>
<div class="section">
    <h2 class="title text-center">Games Available</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Starting Time</th>
                <th scope="col">Field</th>
                <th scope="col">City</th>
                <th scope="col">Name</th>
                <th scope="col">Players</th>
                <th scope="col">Creator</th>
                <th scope="col">Created On</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Model)
            {
                <tr>
                    <th scope="row"><span class="align-middle">@match.StartingAt.ToString("hh:mm @ dd.MM.yyyy")</span></th>
                    <td>@match.Pitch.Name</td>
                    <td>@match.Pitch.TownName</td>
                    <td>@match.Name</td>
                    <td>@match.PlayersEnrolled/@match.MaximumPlayersAllowed</td>
                    <td><a href="#">@match.Creator.UserName</a></td>
                    <td>@match.CreatedOn.ToString("dd-MM-yyyy")</td>
                    <td>
                        <button class="btn btn-primary btn-fab btn-round">
                            <i class="material-icons">toc</i>
                            <div class="ripple-container"></div>
                        </button>
                        <button class="btn btn-info btn-fab btn-round">
                            <i class="material-icons">edit</i>
                            <div class="ripple-container"></div>
                        </button>
                        <button class="btn btn-danger btn-fab btn-round">
                            <i class="material-icons">delete</i>
                            <div class="ripple-container"></div>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
