@model IEnumerable<Footballize.Web.Models.Countries.CountriesIndexViewModel>

@{
    ViewData["Title"] = "Countries";
}

<h1>@ViewData["Title"]</h1>

<div class="text-right">
    <a asp-action="Add">
        <button class="btn btn-primary btn-round">
            <i class="material-icons">add</i> New Country
            <div class="ripple-container"></div>
        </button>
    </a>
</div>
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Flag</th>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Provinces</th>
            <th scope="col">Towns</th>

            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr>
            <th scope="row">@(i + 1)</th>
            <td><img src="img/flags/@(Model.ToList()[i].Name.ToLower()).png" width="32px" /></td>
            <td><a asp-action="Details" asp-route-id="@Model.ToList()[i].Id">@Model.ToList()[i].Name</a></td>
            <td>@Model.ToList()[i].IsoCode</td>
            <td>@Model.ToList()[i].ProvincesCount</td>
            <td>@Model.ToList()[i].TownsCount</td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.ToList()[i].Id" class="btn btn-info btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Modify">
                    <i class="material-icons">edit</i>
                    <div class="ripple-container"></div>
                </a>
                <a class="btn btn-danger btn-fab btn-round" asp-action="Delete" asp-route-id="@Model.ToList()[i].Id" data-toggle="tooltip" data-placement="top" title="Delete">
                    <i class="material-icons">delete</i>
                    <div class="ripple-container"></div>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>We have @Model.Count() records in total.</p>