@model IEnumerable<Footballize.Web.Areas.Administration.ViewModels.Pitches.PitchIndexViewModel>

@{
    ViewData["Title"] = "Pitches";
}



<hr />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Pitches</h4>
                <p class="card-category"> Currently we have @Model.Count() fields.</p>
            </div>
            <div class="card-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Country</th>
                            <th scope="col">Town</th>
                            <th scope="col">Address</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td><a asp-action="Details" asp-route-id="@Model.ToList()[i].Id">@Model.ToList()[i].Name</a></td>
                                <td>@Model.ToList()[i].CountryName</td>
                                <td>@Model.ToList()[i].TownName</td>
                                <td>@Model.ToList()[i].AddressStreet, @Model.ToList()[i].AddressNumber</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@Model.ToList()[i].Id" class="btn btn-info btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Modify">
                                        <i class="material-icons">edit</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                    <a class="btn btn-danger btn-fab btn-round" asp-action="Delete" asp-route-id="@Model.ToList()[i].Id" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i class="material-icons">delete</i>
                                        <div class="ripple-container"></div>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<p>We have @Model.Count() records in total.</p>
<div class="text-right">
    <a asp-action="Add">
        <button class="btn btn-primary btn-round">
            <i class="material-icons">add</i> New field
            <div class="ripple-container"></div>
        </button>
    </a>
</div>